In [2]:
import pandas as pd
from glob import glob
import numpy as np
import sys
import json
sys.path.append("..")

In [3]:
lv_liste = pd.read_csv("../data/lvliste.csv")
LVs = pd.read_csv("../data/LVs.txt", sep = ";")
notenliste = pd.read_csv("../data/noteliste.csv")
studierenden = pd.read_csv("../data/studierenden.csv")


lv_information = pd.concat([lv_liste, LVs], axis=1)
lv_information = lv_information.T.drop_duplicates().T
student_data = pd.merge(left=notenliste, right=lv_information, on='lv_id', how='left')
student_data_full = pd.merge(left=student_data, right=studierenden, on = 'stud_id', how='left')
student_data_full.to_csv("../data/student_data_full.csv", index = False)

In [4]:
sd = pd.read_csv("../data/student_data_full.csv")
sd_first = sd.groupby("stud_id").first()

In [5]:
f_sd = sd.pivot_table(index = "stud_id", columns = "LV Name", values = "note").join(sd_first[["schulabschluss", "geschlecht"]])
f_sd

,Angewandte Statistik,Artificial Intelligence,Computer Vision & Natural Language Processing,Data Governance & Protection,Data Mining & Machine Learning,Datenanalysewerkzeuge,Datenbanktechnologien,Datenvisualisierung / Visual Analytics,Einführung in die Datenanalyse,Einführung in die Ökonomie,...,Grundzüge der Informatik,"Organisation, Marketing und Vertrieb",Programmieren für Data Scientists,VT BA: Business Intelligence,VT BA: Digital Business,VT BA: Management & Controlling,Vertiefungsseminar,Wissenschaftliches Arbeiten,schulabschluss,geschlecht
stud_id,,,,,,,,,,,,,,,,,,,,,
0,3,4,3,3,3,3,3,2,2,3,...,4,2,4,3,3,3,3,2,AHS,M
1,4,2,3,2,3,3,3,3,2,3,...,3,4,2,4,3,2,3,4,Sonstige,M
2,2,3,2,3,3,3,4,4,3,3,...,3,3,4,2,4,3,3,3,HAK,F
3,1,1,1,2,1,1,2,1,1,2,...,2,1,1,1,1,1,1,2,HTL,M
4,1,1,2,1,1,2,2,2,1,1,...,1,2,2,1,2,2,2,1,AHS,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2,3,2,1,3,3,2,2,3,1,...,3,2,3,2,2,2,1,2,HAK,F
396,4,3,4,1,4,2,4,2,2,2,...,4,2,4,2,3,2,3,3,HAK,F
397,3,2,2,2,3,1,3,2,2,2,...,4,2,3,2,2,2,1,2,Sonstige,M
398,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,HTL,M
399,2,2,3,2,2,3,3,2,2,2,...,2,3,3,2,3,2,3,2,AHS,F

In [6]:
f_sd.describe()

,Angewandte Statistik,Artificial Intelligence,Computer Vision & Natural Language Processing,Data Governance & Protection,Data Mining & Machine Learning,Datenanalysewerkzeuge,Datenbanktechnologien,Datenvisualisierung / Visual Analytics,Einführung in die Datenanalyse,Einführung in die Ökonomie,...,Grundlagen der Statistik,Grundlagen des Programmierens,Grundzüge der Informatik,"Organisation, Marketing und Vertrieb",Programmieren für Data Scientists,VT BA: Business Intelligence,VT BA: Digital Business,VT BA: Management & Controlling,Vertiefungsseminar,Wissenschaftliches Arbeiten
count,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,...,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,1.87000,2.072500,2.092500,1.695000,1.847500,1.692500,2.072500,1.712500,1.695000,1.712500,...,1.880000,2.062500,2.042500,1.725000,2.097500,1.670000,1.735000,1.687500,1.695000,1.672500
std,0.84551,0.899593,0.938694,0.799107,0.895124,0.805958,0.924327,0.825559,0.838889,0.810238,...,0.881784,0.935833,0.939628,0.825274,0.916566,0.789086,0.831567,0.828589,0.780062,0.778948
min,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.500000
75%,2.00000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,...,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [7]:
kat_to_lv = sd.groupby(["Kategorie", "LV Name"]).size().to_frame().drop(0, axis =1 ).reset_index()

In [8]:
with open("../data/pdfinfo.json", "r") as f:
    info = json.load(f)
    
info

[{'lv_name': 'Grundlagen der Mathematik',
  'topics': 'Elementare Logik, Boolesche Algebra Zahlenmengen, Mengen Lineare Algebra'},
 {'lv_name': 'Grundlagen der Statistik',
  'topics': 'Beschreibende Statistik, Klassische und moderne statistische Grafik, Konstruktion von Zufallsstichproben, Induktive Statistik, Abschätzung von FehlerwahrscheinlichkeitenGrafische Darstellungsmöglichkeiten'},
 {'lv_name': 'Einführung in die Datenanalyse',
  'topics': 'Data Science Tools, Datentypen, Merkmale, Instanzen, Validierung, Overfitting, Verzerrungs-Varianz-Dilemma, Data Mining, Computer Vision, Machine Learning'},
 {'lv_name': 'Angewandte Statistik',
  'topics': 'Dateninterpretation mit statistischen Verfahren mit R und Excel, Lineare Modelle, Unterschiede zwischen univariaten und multivariaten Methoden, Klassifikationsalgorithmen, Simulation zur Abschätzung der Leistungsfähigkeit statistischer Verfahren, Grundkonzepte von Fraud Detection, Grundzüge interaktiver statistischer Grafik'},
 {'lv_name': 'Datenanalysewerkzeuge',
  'topics': 'Inputformate (CSV, XML, ...), Nutzung von Data Science Tools zur Implementierung einfacher Data Mining Aufgabenstellungen, Austauschformate (PMML, PFA...) Explorative Datenanalyse / Visualisierung Storytelling mit Daten'},
 {'lv_name': 'Data Governance & Protection',
  'topics': 'Grundlage Governance, Grundlagen Data Governance / Managements / Data Curation, Datensicherheit'},
 {'lv_name': 'Data Mining & Machine Learning',
  'topics': 'Vorverarbeitung, Analysemethoden, Einführung Machine Learning, Supervised Learning, Unsupervised Learning, Reinforcement Learning'},
 {'lv_name': 'Artificial Intelligence',
  'topics': 'Neuronale Netze, Deep Learning, Feedforward-Netze, Convolutional Neural Networks o Recurrent Neural Networks, Self-Organizing Maps, Boltzmann Machines, Input Layer / Output Layer / Hidden Layer'},
 {'lv_name': 'Grundzüge der Informatik',
  'topics': 'Algorithmen und Datenstrukturen, Betriebssysteme, Netzwerke, Virtualisierung'},
 {'lv_name': 'Grundlagen des Programmierens',
  'topics': 'Dokumentation und Verwaltung von Source Code, Testen, Strukturieren von Problemen, Entwicklungswerkzeuge und -Plattformen (z.B.: IDEs, iPython, Anaconda), Objektorientiertes Programmieren'},
 {'lv_name': 'Datenbanktechnologien',
  'topics': 'Datenbarnkentwurf, Not-Only-SQL Datenbanken, SQL, DDL, DML, Normalformen, Entity Relation Modell'},
 {'lv_name': 'Programmieren für Data Scientists',
  'topics': 'Text Processing / Text Mining, Datenbanken, Linear Alebra, Data Manipulation, Web Crawling, XML Prcessing'},
 {'lv_name': 'Datenvisualisierung / Visual Analytics',
  'topics': 'Human-Computer Interaction, Wahrnehmung und kognitive Prozesse, Interaktive Visualisierung, Integration von Visualisierung und automatischer Datenanalyse, Systeme, Tools und Applikationen'},
 {'lv_name': 'Computer Vision & Natural Language Processing',
  'topics': 'Einführung Natural Language Processing, Einführung Computer Vision'},
 {'lv_name': 'Einführung in die Ökonomie',
  'topics': 'Mikroökonomie, Makroökonomie, Wirtschaftspolitik'},
 {'lv_name': 'Organisation, Marketing und Vertrieb',
  'topics': 'Organisation und Prozessmanagement, Teambuilding, Grundlagen Marketing und Vertrieb'},
 {'lv_name': 'Ethik und Recht',
  'topics': 'Immaterialgüter- & Wettbewerbsrecht, Datenschutz, Ethik'},
 {'lv_name': 'VT BA: Business Intelligence',
  'topics': 'Einführung in BI Umgebungen (Konzepte, Architektur, ...), Grundlagen Data Warehouse, Einführung in Big Data und Data Lake, Modellierung multidimensionale Datenräume, ETL Prozess, Metadaten, Stammdaten, Referenzdaten, Berechtigungsstrukturen, Reporting und OLAP, Verbindung eines Data Warehouse mit Analytics Reporting Tools, Grundlagen Reporting in unterschiedlichen Anwendungsbereichen, Anwendung BI Tools, Dashboards'},
 {'lv_name': 'VT BA: Management & Controlling',
  'topics': 'Controlling, Financial Reporting, Management, Corporate Finance'},
 {'lv_name': 'VT BA: Digital Business',
  'topics': 'Überblick über digitale Geschäftsmodelle, deren Strategien, Produkte und Dienstleistungen, Management von digital Business Infrastrukturen (Komponenten, Standards, Governance, ...), Prozessmanagement, Plattform-Geschäftsmodelle und Business Analytics Management der digitalen Transformation von Unternehmen und Organisationen, Grundlagen New Work, Digitale Anwendungen wie Empfehlsysteme, Process Mining, eCommerce, Qualitätssicherung'},
 {'lv_name': 'Vertiefungsseminar',
  'topics': 'Grundlagen In jedem Schwerpunkt werden durch Vorträge und seminaristischen Arbeiten die Grundlagen der Vertiefungsrichtung erarbeitet Besprechung häufiger Anwendungsfelder der Vertiefungsrichtung Um die Handlungskompetenz der Studierenden zu fördern, werden Problemstellungen vorgestellt, welche durch die Studierenden im Laufe des Seminars gelöst werden müssen.'}]

In [9]:
lv_trans = {d["lv_name"]:d["topics"] for d in info}
kats = {1:[], 2:[], 3:[]}
for d in info:
    kats[kat_to_lv.loc[kat_to_lv["LV Name"] == d["lv_name"], "Kategorie"].values[0]].append(d["topics"])

kats

{1: ['Data Science Tools, Datentypen, Merkmale, Instanzen, Validierung, Overfitting, Verzerrungs-Varianz-Dilemma, Data Mining, Computer Vision, Machine Learning',
  'Inputformate (CSV, XML, ...), Nutzung von Data Science Tools zur Implementierung einfacher Data Mining Aufgabenstellungen, Austauschformate (PMML, PFA...) Explorative Datenanalyse / Visualisierung Storytelling mit Daten',
  'Grundlage Governance, Grundlagen Data Governance / Managements / Data Curation, Datensicherheit',
  'Human-Computer Interaction, Wahrnehmung und kognitive Prozesse, Interaktive Visualisierung, Integration von Visualisierung und automatischer Datenanalyse, Systeme, Tools und Applikationen',
  'Mikroökonomie, Makroökonomie, Wirtschaftspolitik',
  'Organisation und Prozessmanagement, Teambuilding, Grundlagen Marketing und Vertrieb',
  'Immaterialgüter- & Wettbewerbsrecht, Datenschutz, Ethik',
  'Einführung in BI Umgebungen (Konzepte, Architektur, ...), Grundlagen Data Warehouse, Einführung in Big Data und Data Lake, Modellierung multidimensionale Datenräume, ETL Prozess, Metadaten, Stammdaten, Referenzdaten, Berechtigungsstrukturen, Reporting und OLAP, Verbindung eines Data Warehouse mit Analytics Reporting Tools, Grundlagen Reporting in unterschiedlichen Anwendungsbereichen, Anwendung BI Tools, Dashboards',
  'Controlling, Financial Reporting, Management, Corporate Finance',
  'Überblick über digitale Geschäftsmodelle, deren Strategien, Produkte und Dienstleistungen, Management von digital Business Infrastrukturen (Komponenten, Standards, Governance, ...), Prozessmanagement, Plattform-Geschäftsmodelle und Business Analytics Management der digitalen Transformation von Unternehmen und Organisationen, Grundlagen New Work, Digitale Anwendungen wie Empfehlsysteme, Process Mining, eCommerce, Qualitätssicherung',
  'Grundlagen In jedem Schwerpunkt werden durch Vorträge und seminaristischen Arbeiten die Grundlagen der Vertiefungsrichtung erarbeitet Besprechung häufiger Anwendungsfelder der Vertiefungsrichtung Um die Handlungskompetenz der Studierenden zu fördern, werden Problemstellungen vorgestellt, welche durch die Studierenden im Laufe des Seminars gelöst werden müssen.'],
 2: ['Elementare Logik, Boolesche Algebra Zahlenmengen, Mengen Lineare Algebra',
  'Beschreibende Statistik, Klassische und moderne statistische Grafik, Konstruktion von Zufallsstichproben, Induktive Statistik, Abschätzung von FehlerwahrscheinlichkeitenGrafische Darstellungsmöglichkeiten',
  'Dateninterpretation mit statistischen Verfahren mit R und Excel, Lineare Modelle, Unterschiede zwischen univariaten und multivariaten Methoden, Klassifikationsalgorithmen, Simulation zur Abschätzung der Leistungsfähigkeit statistischer Verfahren, Grundkonzepte von Fraud Detection, Grundzüge interaktiver statistischer Grafik',
  'Vorverarbeitung, Analysemethoden, Einführung Machine Learning, Supervised Learning, Unsupervised Learning, Reinforcement Learning'],
 3: ['Neuronale Netze, Deep Learning, Feedforward-Netze, Convolutional Neural Networks o Recurrent Neural Networks, Self-Organizing Maps, Boltzmann Machines, Input Layer / Output Layer / Hidden Layer',
  'Algorithmen und Datenstrukturen, Betriebssysteme, Netzwerke, Virtualisierung',
  'Dokumentation und Verwaltung von Source Code, Testen, Strukturieren von Problemen, Entwicklungswerkzeuge und -Plattformen (z.B.: IDEs, iPython, Anaconda), Objektorientiertes Programmieren',
  'Datenbarnkentwurf, Not-Only-SQL Datenbanken, SQL, DDL, DML, Normalformen, Entity Relation Modell',
  'Text Processing / Text Mining, Datenbanken, Linear Alebra, Data Manipulation, Web Crawling, XML Prcessing',
  'Einführung Natural Language Processing, Einführung Computer Vision']}

In [10]:
kat_trans = {1:"Business Intelligence", 2:"Statistik und Mathematik", 3: "Informatik und Infrastruktur"}

# prompt engineering

In [11]:

for kat, topic in kats.items():
    print(f"Kategorie '{kat_trans[kat]}' beinhaltet {topic}")
    
print()

Kategorie 'Business Intelligence' beinhaltet ['Data Science Tools, Datentypen, Merkmale, Instanzen, Validierung, Overfitting, Verzerrungs-Varianz-Dilemma, Data Mining, Computer Vision, Machine Learning', 'Inputformate (CSV, XML, ...), Nutzung von Data Science Tools zur Implementierung einfacher Data Mining Aufgabenstellungen, Austauschformate (PMML, PFA...) Explorative Datenanalyse / Visualisierung Storytelling mit Daten', 'Grundlage Governance, Grundlagen Data Governance / Managements / Data Curation, Datensicherheit', 'Human-Computer Interaction, Wahrnehmung und kognitive Prozesse, Interaktive Visualisierung, Integration von Visualisierung und automatischer Datenanalyse, Systeme, Tools und Applikationen', 'Mikroökonomie, Makroökonomie, Wirtschaftspolitik', 'Organisation und Prozessmanagement, Teambuilding, Grundlagen Marketing und Vertrieb', 'Immaterialgüter- & Wettbewerbsrecht, Datenschutz, Ethik', 'Einführung in BI Umgebungen (Konzepte, Architektur, ...), Grundlagen Data Warehouse, Einführung in Big Data und Data Lake, Modellierung multidimensionale Datenräume, ETL Prozess, Metadaten, Stammdaten, Referenzdaten, Berechtigungsstrukturen, Reporting und OLAP, Verbindung eines Data Warehouse mit Analytics Reporting Tools, Grundlagen Reporting in unterschiedlichen Anwendungsbereichen, Anwendung BI Tools, Dashboards', 'Controlling, Financial Reporting, Management, Corporate Finance', 'Überblick über digitale Geschäftsmodelle, deren Strategien, Produkte und Dienstleistungen, Management von digital Business Infrastrukturen (Komponenten, Standards, Governance, ...), Prozessmanagement, Plattform-Geschäftsmodelle und Business Analytics Management der digitalen Transformation von Unternehmen und Organisationen, Grundlagen New Work, Digitale Anwendungen wie Empfehlsysteme, Process Mining, eCommerce, Qualitätssicherung', 'Grundlagen In jedem Schwerpunkt werden durch Vorträge und seminaristischen Arbeiten die Grundlagen der Vertiefungsrichtung erarbeitet Besprechung häufiger Anwendungsfelder der Vertiefungsrichtung Um die Handlungskompetenz der Studierenden zu fördern, werden Problemstellungen vorgestellt, welche durch die Studierenden im Laufe des Seminars gelöst werden müssen.']
Kategorie 'Statistik und Mathematik' beinhaltet ['Elementare Logik, Boolesche Algebra Zahlenmengen, Mengen Lineare Algebra', 'Beschreibende Statistik, Klassische und moderne statistische Grafik, Konstruktion von Zufallsstichproben, Induktive Statistik, Abschätzung von FehlerwahrscheinlichkeitenGrafische Darstellungsmöglichkeiten', 'Dateninterpretation mit statistischen Verfahren mit R und Excel, Lineare Modelle, Unterschiede zwischen univariaten und multivariaten Methoden, Klassifikationsalgorithmen, Simulation zur Abschätzung der Leistungsfähigkeit statistischer Verfahren, Grundkonzepte von Fraud Detection, Grundzüge interaktiver statistischer Grafik', 'Vorverarbeitung, Analysemethoden, Einführung Machine Learning, Supervised Learning, Unsupervised Learning, Reinforcement Learning']
Kategorie 'Informatik und Infrastruktur' beinhaltet ['Neuronale Netze, Deep Learning, Feedforward-Netze, Convolutional Neural Networks o Recurrent Neural Networks, Self-Organizing Maps, Boltzmann Machines, Input Layer / Output Layer / Hidden Layer', 'Algorithmen und Datenstrukturen, Betriebssysteme, Netzwerke, Virtualisierung', 'Dokumentation und Verwaltung von Source Code, Testen, Strukturieren von Problemen, Entwicklungswerkzeuge und -Plattformen (z.B.: IDEs, iPython, Anaconda), Objektorientiertes Programmieren', 'Datenbarnkentwurf, Not-Only-SQL Datenbanken, SQL, DDL, DML, Normalformen, Entity Relation Modell', 'Text Processing / Text Mining, Datenbanken, Linear Alebra, Data Manipulation, Web Crawling, XML Prcessing', 'Einführung Natural Language Processing, Einführung Computer Vision']

In [12]:
kat_to_lv

    Kategorie                                        LV Name
0           1                   Data Governance & Protection
1           1                          Datenanalysewerkzeuge
2           1         Datenvisualisierung / Visual Analytics
3           1                 Einführung in die Datenanalyse
4           1                     Einführung in die Ökonomie
5           1                                Ethik und Recht
6           1           Organisation, Marketing und Vertrieb
7           1                   VT BA: Business Intelligence
8           1                        VT BA: Digital Business
9           1                VT BA: Management & Controlling
10          1                             Vertiefungsseminar
11          1                    Wissenschaftliches Arbeiten
12          2                           Angewandte Statistik
13          2                 Data Mining & Machine Learning
14          2                      Grundlagen der Mathematik
15          2                       Grundlagen der Statistik
16          3                        Artificial Intelligence
17          3  Computer Vision & Natural Language Processing
18          3                          Datenbanktechnologien
19          3                  Grundlagen des Programmierens
20          3                       Grundzüge der Informatik
21          3              Programmieren für Data Scientists

In [13]:
kat_trans

{1: 'Business Intelligence',
 2: 'Statistik und Mathematik',
 3: 'Informatik und Infrastruktur'}

In [14]:
sd_kats = sd.groupby(["stud_id", "Kategorie"]).agg(note = ("note", "mean")).reset_index()
sd_kats["Kategorie"] = sd_kats.Kategorie.replace(kat_trans)
sd_kats = sd_kats.pivot(index="stud_id", columns = "Kategorie", values = "note")
sd_kats.to_csv("../data/sd_kats.csv")
sd_kats

Kategorie,Business Intelligence,Informatik und Infrastruktur,Statistik und Mathematik
stud_id,,,
0,2.583333,3.500000,3.00
1,2.916667,2.833333,3.25
2,3.083333,3.333333,2.75
3,1.250000,1.333333,1.00
4,1.500000,1.500000,1.00
...,...,...,...
395,1.916667,2.500000,2.25
396,2.166667,3.666667,3.50
397,1.750000,2.833333,3.00
398,1.000000,1.000000,1.00
399,2.333333,2.833333,2.75

In [15]:
for c in sd_kats.columns:
    print("- " + c)

- Business Intelligence
- Informatik und Infrastruktur
- Statistik und Mathematik